
*.json
*.props
*.cache
*.targets
*.csproj
*.sln
*.dll
*.pdb
*.xml
*.CopyComplete
*.txt
*.exe
*.map
*.pyc
*.pyproj
*.ilk
*.cmd
*.ipch
*.obj
*.filters
*.tlog
*.eot
*.otf
*.svg
*.ttf
*.woff
*.ico
*.zip
*.vcxproj
*.idb
*.log
*.user
*.razor
*.g.cs
*.db
*.AssemblyInfo.cs
*.RazorTargetAssemblyInfo.cs
*.ide
*.ide-shm
*.db-shm
*.db-wal
*.ide-wal
*.lock
